<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar-nav col-xl-4 d-flex justify-content-start">
        <li class="nav-item">
            <a class="nav-link active">Vous &ecirc;tes identifi&eacute; en tant que conseiller : {{conseiller.prenom}}
                {{conseiller.nom}}</a>
        </li>
    </ul>
    <ul class="navbar-nav col-xl-4 d-flex justify-content-center">
        <li class="nav-item">
            <a class="nav-link" routerLink="/liste-clients/{{idCons}}"><span style="font-weight: bold">Liste clients</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/creer-client/{{idCons}}"><span style="font-weight: bold">Cr&eacute;er client</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/effectuer-virement/{{idCons}}"><span style="font-weight: bold">Effectuer virement</span></a>
        </li>
    </ul>

    <ul class="navbar-nav col-xl-4 d-flex justify-content-end">
        <li>
            <a class="nav-link" routerLink="/authentification"><span style="font-weight:bold; color: red">D&eacute;connexion</span></a>
        </li>
    </ul>
</nav>
<br>
<h4>Effectuer un virement :</h4>
<p></p>
<form [formGroup]="choisirClientDetC" (ngSubmit)="validerClientsDetC()">
    <div>
        <label class="mr-3">
            <h5><u>Client debiteur : </u></h5>
        </label>

        <select formControlName="clientD">
            <option [ngValue]="client" *ngFor="let client of conseiller.listeClients" style="text-align: center"
                id="clientD" name="clientD">
                <div *ngIf="client.nom && !client.raisonSociale"> {{client.prenom}} {{client.nom}} <u>{{client.id}}</u>
                </div>
                <div *ngIf="!client.nom && client.raisonSociale">{{client.raisonSociale}} <u>{{client.id}}</u></div>
            </option>
        </select>
    </div>
    <div>
        <label class="mr-3">
            <h5><u>Client crediteur : </u></h5>
        </label>

        <select formControlName="clientC">
            <option [ngValue]="client" *ngFor="let client of conseiller.listeClients" style="text-align: center"
                id="clientC" name="clientC">
                <div *ngIf="client.nom && !client.raisonSociale"> {{client.prenom}} {{client.nom}} <u>{{client.id}}</u>
                </div>
                <div *ngIf="!client.nom && client.raisonSociale">{{client.raisonSociale}} <u>{{client.id}}</u></div>
            </option>
        </select>
    </div>


    <p></p>
    <button class="btn btn-primary mr-5" type="submit"
        [disabled]="!choisirClientDetC.valid&&!choisirClientDetC.touched">Valider</button>
    <p></p>

</form>


<form [formGroup]="choisirCompteDetC" (ngSubmit)="validerComptesDetC()">

    <!-- <div *ngIf="valeurTrueFalse && (choisirClientDetC.value.clientD && choisirClientDetC.value.clientC)">

    <div>
        <label class="mr-3">
            <h5><u>Comptes du client debiteur {{clientDebiteur.raisonSociale}} : </u></h5>
        </label>
        <select formControlName="compteD">
            <option *ngIf="!(clientDebiteur.compteCourant == null)" [ngValue]="clientDebiteur.compteCourant"
                style="text-align: center" id="clientDC" name="clientDC">
                <div> Compte courant numero
                    {{clientDebiteur.compteCourant.numCompte}}, &nbsp; solde : &nbsp;
                    {{clientDebiteur.compteCourant.solde}} &euro;</div>

            </option>
            <option *ngIf="!(clientDebiteur.compteEpargne == null)" [ngValue]="clientDebiteur.compteEpargne"
                style="text-align: center" id="clientDE" name="clientDE">
                <div> Compte epargne numero
                    {{clientDebiteur.compteEpargne.numCompte}} &nbsp; solde : {{clientDebiteur.compteEpargne.solde}}
                    &euro;</div>
            </option>
        </select>
    </div>


    <div>
        <label class="mr-3">
            <h5><u>Comptes du client crediteur {{clientCrediteur.raisonSociale}} : </u></h5>
        </label>
        <select formControlName="compteC">
            <option *ngIf="!(clientCrediteur.compteCourant == null)" [ngValue]="clientCrediteur.compteCourant"
                style="text-align: center" id="clientCC" name="clientCC">
                <div> Compte courant numero
                    {{clientCrediteur.compteCourant.numCompte}}, &nbsp; solde : &nbsp;
                    {{clientCrediteur.compteCourant.solde}} &euro;</div>

                
            </option>
            <option *ngIf="!(clientCrediteur.compteEpargne == null)" [ngValue]="clientCrediteur.compteEpargne"
                style="text-align: center" id="clientCE" name="clientCE">
                <div> Compte epargne numero
                    {{clientCrediteur.compteEpargne.numCompte}} &nbsp; solde : {{clientCrediteur.compteEpargne.solde}}
                    &euro;</div>
            </option>
        </select>
    </div>

    <div>
        <label class="mr-3">
            <h5>Montant : </h5>
        </label><input type="text" id="montant" name="montant" formControlName="montant"> &euro;
    </div>

    <p></p>
     <button class="btn btn-primary mr-5" type="submit"
        [disabled]="!choisirCompteDetC.valid&&!choisirCompteDetC.touched">Valider le virement</button>
    <p></p>


    {{clientDebiteur.raisonSociale}}

    coucou !!!!!

    Solde du client {{clientDebiteur.nom}} : {{clientDebiteur.compteCourant.solde}}
    
</div> -->
    <div *ngIf="valeurTrueFalse && (choisirClientDetC.value.clientD && choisirClientDetC.value.clientC)">

        <div>
            <label class="mr-3">
                <h5><u>Comptes du client debiteur {{clientDebiteur.raisonSociale}} : </u></h5>
            </label>
            <select formControlName="compteD">
                <option *ngIf="!(clientDebiteur.compteCourant == null)" [ngValue]="clientDebiteur.compteCourant"
                    style="text-align: center" id="clientDC" name="clientDC">
                    <div> Compte courant numero
                        {{clientDebiteur.compteCourant.numCompte}}, &nbsp; solde : &nbsp;
                        {{clientDebiteur.compteCourant.solde}} &euro;</div>
                </option>
                <option *ngIf="!(clientDebiteur.compteEpargne == null)" [ngValue]="clientDebiteur.compteEpargne"
                    style="text-align: center" id="clientDE" name="clientDE">
                    <div> Compte epargne numero
                        {{clientDebiteur.compteEpargne.numCompte}} &nbsp; solde : {{clientDebiteur.compteEpargne.solde}}
                        &euro;</div>
                </option>
            </select>
        </div>


        <div>
            <label class="mr-3">
                <h5><u>Comptes du client crediteur {{clientCrediteur.raisonSociale}} : </u></h5>
            </label>
            <select formControlName="compteC">
                <option *ngIf="!(clientCrediteur.compteCourant == null)" [ngValue]="clientCrediteur.compteCourant"
                    style="text-align: center" id="clientCC" name="clientCC">
                    <div> Compte courant numero
                        {{clientCrediteur.compteCourant.numCompte}}, &nbsp; solde : &nbsp;
                        {{clientCrediteur.compteCourant.solde}} &euro;</div>
                </option>
                <option *ngIf="!(clientCrediteur.compteEpargne == null)" [ngValue]="clientCrediteur.compteEpargne"
                    style="text-align: center" id="clientCE" name="clientCE">
                    <div> Compte epargne numero
                        {{clientCrediteur.compteEpargne.numCompte}} &nbsp; solde :
                        {{clientCrediteur.compteEpargne.solde}}
                        &euro;</div>
                </option>
            </select>
        </div>

        <div>
            <label class="mr-3">
                <h5>Montant : </h5>
            </label><input type="text" id="montant" name="montant" formControlName="montant"> &euro;
        </div>

        <p></p>
        <button class="btn btn-primary mr-5" type="submit"
            [disabled]="!choisirCompteDetC.valid&&!choisirCompteDetC.touched">Valider le virement</button>
   
    </div>
    <br>
</form>
    <button class="btn btn-info float-center mr-3" routerLink="/liste-clients/{{idCons}}">Retour</button>
    