<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar-nav col-xl-4 d-flex justify-content-start">
        <li class="nav-item">
            <a class="nav-link active">Vous &ecirc;tes identifi&eacute; en tant que conseiller :  <span style="font-style: italic">{{conseiller.prenom}}
                {{conseiller.nom}}</span></a>
        </li>
    </ul>
    <ul class="navbar-nav col-xl-4 d-flex justify-content-center">
        <li class="nav-item">
            <a class="nav-link" routerLink="/liste-clients/{{idCons}}"><span style="font-weight: bold">Liste
                    clients</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/creer-client/{{idCons}}"><span style="font-weight: bold">Cr&eacute;er
                    client</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/effectuer-virement/{{idCons}}"><span style="font-weight: bold">Effectuer
                    virement</span></a>
        </li>
    </ul>

    <ul class="navbar-nav col-xl-4 d-flex justify-content-end">
        <li>
            <a class="nav-link" routerLink="/authentification"><span
                    style="font-weight:bold; color: red">D&eacute;connexion</span></a>
        </li>
    </ul>
</nav>
<p></p>
 &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-info float-center mr-3" routerLink="/liste-clients/{{idCons}}"><span class="fa fa-arrow-left mr-2"></span>Retour</button>
<br>
<h4 style="text-align: center">Effectuer un virement</h4>
<p></p>

<div class="form-group container border border-secondary shadow p-3 mb-5 bg-white rounded">
    <form [formGroup]="choisirClientDetC" (ngSubmit)="validerClientsDetC()">
        <div>
            <div>
                <label class="mr-3">
                    <h5><u>Client debiteur : </u></h5>
                </label>

                <select class="form-control" formControlName="clientD">
                    <option [ngValue]="client" *ngFor="let client of conseiller.listeClients" style="text-align: center"
                        id="clientD" name="clientD">
                        <div *ngIf="client.nom && !client.raisonSociale"> {{client.prenom}} {{client.nom}}
                  
                        </div>
                        <div *ngIf="!client.nom && client.raisonSociale">{{client.raisonSociale}} 
                        </div>
                    </option>
                </select>
            </div>
            <div>
                <br>
                <label class="mr-3">
                    <h5><u>Client crediteur : </u></h5>
                </label>

                <select class="form-control" formControlName="clientC">
                    <option [ngValue]="client" *ngFor="let client of conseiller.listeClients" style="text-align: center"
                        id="clientC" name="clientC">
                        <div *ngIf="client.nom && !client.raisonSociale"> {{client.prenom}} {{client.nom}}
                    
                        </div>
                        <div *ngIf="!client.nom && client.raisonSociale">{{client.raisonSociale}} 
                        </div>
                    </option>
                </select>
            </div>
        </div>

        <p></p>
        <button class="btn btn-primary mr-5" type="submit"
            [disabled]="!choisirClientDetC.valid&&!choisirClientDetC.touched"><span class="fa fa-check mr-2"></span>Valider</button>
        <p></p>

    </form>
</div>

<form [formGroup]="choisirCompteDetC" (ngSubmit)="validerComptesDetC()">

    <div class="form-group container border border-secondary shadow p-3 mb-5 bg-white rounded"
        *ngIf="valeurTrueFalse && (choisirClientDetC.value.clientD && choisirClientDetC.value.clientC)">

        <div>
            <label class="mr-3">
                <h5><u>Compte du client debiteur : </u></h5>
            </label>
            <select class="form-control" formControlName="compteD">
                <option *ngIf="!(clientDebiteur.compteCourant == null)" [ngValue]="clientDebiteur.compteCourant"
                    style="text-align: center" id="clientDC" name="clientDC">
                    <div> Compte courant numero
                        {{clientDebiteur.compteCourant.numCompte}}, &nbsp; solde : &nbsp;
                        {{clientDebiteur.compteCourant.solde}} &euro;</div>
                </option>
                <option *ngIf="!(clientDebiteur.compteEpargne == null)" [ngValue]="clientDebiteur.compteEpargne"
                    style="text-align: center" id="clientDE" name="clientDE">
                    <div> Compte epargne numero
                        {{clientDebiteur.compteEpargne.numCompte}} &nbsp; solde : {{clientDebiteur.compteEpargne.solde}}
                        &euro;</div>
                </option>
            </select>
        </div>
        <br>

        <div>
            <label class="mr-3">
                <h5><u>Compte du client crediteur : </u></h5>
            </label>
            <br>
            <select class="form-control" formControlName="compteC">
                <option *ngIf="!(clientCrediteur.compteCourant == null)" [ngValue]="clientCrediteur.compteCourant"
                    style="text-align: center" id="clientCC" name="clientCC">
                    <div> Compte courant numero
                        {{clientCrediteur.compteCourant.numCompte}}, &nbsp; solde : &nbsp;
                        {{clientCrediteur.compteCourant.solde}} &euro;</div>
                </option>
                <option *ngIf="!(clientCrediteur.compteEpargne == null)" [ngValue]="clientCrediteur.compteEpargne"
                    style="text-align: center" id="clientCE" name="clientCE">
                    <div> Compte epargne numero
                        {{clientCrediteur.compteEpargne.numCompte}} &nbsp; solde :
                        {{clientCrediteur.compteEpargne.solde}}
                        &euro;</div>
                </option>
            </select>
        </div>
        <br>
        <div>
            <label class="mr-3">
                <h5>Montant : </h5>
            </label><input class="form-control" type="text" id="montant" name="montant" formControlName="montant">
            <!--&euro;-->
        </div>
<br>
        <div *ngIf="messageVirement == 'ok'" class="alert alert-success">
            Virement valid&eacute;.
        </div>
        <div *ngIf="messageVirement == 'memeComptesDetC'" class="alert alert-danger">
            Virement impossible. Le compte d&eacute;biteur et le compte cr&eacute;diteur sont identiques.
        </div>
        <div *ngIf="messageVirement == 'montantNegatif'" class="alert alert-danger">
            Virement impossible. Le montant du virement est n&eacute;gatif.
        </div>
        <div *ngIf="messageVirement == 'montantSupSolde'" class="alert alert-danger">
            Virement impossible. Le montant du virement est sup&eacute;rieur au solde du compte d&eacute;biteur.
        </div>

        <p></p>
        <button class="btn btn-primary mr-5" type="submit"
            [disabled]="!choisirCompteDetC.valid&&!choisirCompteDetC.touched"><span class="fa fa-check mr-2"></span>Valider le virement</button>

    </div>
    <br>
</form>