<div class="row">
    <div class="col-sm-6 d-flex justify-content-start">
        <h6>Vous &ecirc;tes identifi&eacute; en tant que : {{conseiller.prenom}} {{conseiller.nom}}</h6>
    </div>
    <div class="col-sm-6 d-flex justify-content-end">
        <button class="btn btn-outline-dark" routerLink="/authentification">D&eacute;connexion</button>
    </div>
</div>
<br />
<div class="col-sm-12 d-flex justify-content-center">
    <button class="btn btn-primary mr-5" routerLink="/liste-clients/{{idCons}}">Liste de clients</button>
 <button class="btn btn-success mr-5" routerLink="/creer-client/{{idCons}}">Cr&eacute;er un client</button>
    <button class="btn btn-warning" routerLink="/effectuer-virement/{{idCons}}">Effectuer un virement</button>
</div>
<br />
<div>
    <button class="btn btn-info float-center mr-5" routerLink="/liste-clients/{{idCons}}">Retour</button>
</div>
<br />
<h6>Vous &ecirc;tes identifi&eacute; en tant que : {{conseiller.prenom}} {{conseiller.nom}}</h6>
<br />

<h4>Effectuer un virement :</h4>
<p></p>

<!-- -->

<!-- <form [formGroup]="virement" (ngSubmit)="onSubmit()"> -->

<form [formGroup]="choisirClientDetC" (ngSubmit)="validerClientsDetC()">
    <div>
        <label class="mr-3">
            <h5><u>Client debiteur : </u></h5>
        </label>

        <select formControlName="clientD">
            <option [ngValue]="client" *ngFor="let client of conseiller.listeClients" style="text-align: center"
                id="clientD" name="clientD">
                <div *ngIf="client.nom && !client.raisonSociale"> {{client.prenom}} {{client.nom}} <u>{{client.id}}</u>
                </div>
                <div *ngIf="!client.nom && client.raisonSociale">{{client.raisonSociale}} <u>{{client.id}}</u></div>
            </option>
        </select>
    </div>
 <div>
        <label class="mr-3">
            <h5><u>Client crediteur : </u></h5>
        </label>

        <select formControlName="clientC">
            <option [ngValue]="client" *ngFor="let client of conseiller.listeClients" style="text-align: center"
                id="clientC" name="clientC">
                <div *ngIf="client.nom && !client.raisonSociale"> {{client.prenom}} {{client.nom}} <u>{{client.id}}</u>
                </div>
                <div *ngIf="!client.nom && client.raisonSociale">{{client.raisonSociale}} <u>{{client.id}}</u></div>
            </option>
        </select>
    </div>


    <p></p>
    <button class="btn btn-primary mr-5" type="submit"
        [disabled]="!choisirClientDetC.valid&&!choisirClientDetC.touched">Valider</button>
    <p></p>

</form>


<form [formGroup]="choisirCompteDetC" (ngSubmit)="validerComptesDetC()">

<div *ngIf="valeurTrueFalse && (choisirClientDetC.value.clientD && choisirClientDetC.value.clientC)">

    <div>
        <label class="mr-3">
            <h5><u>Comptes du client debiteur {{clientDebiteur.raisonSociale}} : </u></h5>
        </label>
        <!--*ngIf="!(clientDebiteur.compteCourant.solde == null)"-->
        <select formControlName="compteD">
            <option *ngIf="!(clientDebiteur.compteCourant == null)" [ngValue]="clientDebiteur.compteCourant"
                style="text-align: center" id="clientDC" name="clientDC">
                <div> Compte courant numero
                    {{clientDebiteur.compteCourant.numCompte}}, &nbsp; solde : &nbsp;
                    {{clientDebiteur.compteCourant.solde}} &euro;</div>
            </option>
            <option *ngIf="!(clientDebiteur.compteEpargne == null)" [ngValue]="clientDebiteur.compteEpargne"
                style="text-align: center" id="clientDE" name="clientDE">
                <div> Compte epargne numero
                    {{clientDebiteur.compteEpargne.numCompte}} &nbsp; solde : {{clientDebiteur.compteEpargne.solde}}
                    &euro;</div>
            </option>
        </select>
    </div>


    <div>
        <label class="mr-3">
            <h5><u>Comptes du client crediteur {{clientCrediteur.raisonSociale}} : </u></h5>
        </label>
        <select formControlName="compteC">
            <option *ngIf="!(clientCrediteur.compteCourant == null)" [ngValue]="clientCrediteur.compteCourant"
                style="text-align: center" id="clientCC" name="clientCC">
                <div> Compte courant numero
                    {{clientCrediteur.compteCourant.numCompte}}, &nbsp; solde : &nbsp;
                    {{clientCrediteur.compteCourant.solde}} &euro;</div>
            </option>
            <option *ngIf="!(clientCrediteur.compteEpargne == null)" [ngValue]="clientCrediteur.compteEpargne"
                style="text-align: center" id="clientCE" name="clientCE">
                <div> Compte epargne numero
                    {{clientCrediteur.compteEpargne.numCompte}} &nbsp; solde : {{clientCrediteur.compteEpargne.solde}}
                    &euro;</div>
            </option>
        </select>
    </div>

    <div>
        <label class="mr-3">
            <h5>Montant : </h5>
        </label><input type="text" id="montant" name="montant" formControlName="montant"> &euro;
    </div>

    <p></p>
     <button class="btn btn-primary mr-5" type="submit"
        [disabled]="!choisirCompteDetC.valid&&!choisirCompteDetC.touched">Valider le virement</button>
    <p></p>


    {{clientDebiteur.raisonSociale}}

    coucou !!!!!

    Solde du client {{clientDebiteur.nom}} : {{clientDebiteur.compteCourant.solde}}

</div>

