<div class="row">
    <div class="col-sm-6 d-flex justify-content-start">
        <h6>Vous &ecirc;tes identifi&eacute; en tant que : {{conseiller.prenom}} {{conseiller.nom}}</h6>
    </div>
    <div class="col-sm-6 d-flex justify-content-end">
        <button class="btn btn-outline-dark" routerLink="/authentification">D&eacute;connexion</button>
    </div>
</div>
<div class="col-sm-12 d-flex justify-content-center">
    <button class="btn btn-primary mr-5" routerLink="/liste-clients/{{idCons}}">Liste de clients</button>
    <button class="btn btn-success mr-5" routerLink="/creer-client/1/{{idCons}}">Cr&eacute;er un client</button>
    <button class="btn btn-warning" routerLink="/effectuer-virement/{{idCons}}">Effectuer un virement</button>
</div>
<br>
<div class="row">
    <div class="col-sm-3">
        <div style="text-align:center">
            <h5 class="card-text">Informations du client : </h5>
            <div class="card-body" *ngIf="clientDetails.nom">
                <p class="card-text">Pr&eacute;nom : {{clientDetails.prenom}}</p>
                <p class="card-text">Nom : {{clientDetails.nom}}</p>
                <p class="card-text"><u>Coordonn&eacute;es</u></p>
                <p class="card-text">Num&eacute;ro : {{clientDetails.adresse.numero}}</p>
                <p class="card-text">Rue : {{clientDetails.adresse.rue}}</p>
                <p class="card-text">Code Postal : {{clientDetails.adresse.codePostal}}</p>
                <p class="card-text">Ville : {{clientDetails.adresse.ville}}</p>
                <p class="card-text">Email : {{clientDetails.email}}</p>
                <p class="card-text">T&eacute;l&eacute;phone : {{clientDetails.telephone}}</p>
            </div>
            <div class="card-body" *ngIf="!clientDetails.nom">
                <p class="card-text">Raison Sociale : {{clientDetails.raisonSociale}}</p>
                <p class="card-text"><u>Coordonn&eacute;es</u></p>
                <p class="card-text">Num&eacute;ro : {{clientDetails.adresse.numero}}</p>
                <p class="card-text">Rue : {{clientDetails.adresse.rue}}</p>
                <p class="card-text">Code Postal : {{clientDetails.adresse.codePostal}}</p>
                <p class="card-text">Ville : {{clientDetails.adresse.ville}}</p>
                <p class="card-text">Email : {{clientDetails.email}}</p>
                <p class="card-text">T&eacute;l&eacute;phone : {{clientDetails.telephone}}</p>
            </div>
        </div>
    </div>
    <div class="col-sm-9">
        <div style="text-align:center">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Compte</th>
                        <th scope="col">Num&eacute;ro de compte</th>
                        <th scope="col">Solde</th>
                        <th scope="col">Autorisation d&eacute;couvert/Taux r&eacute;mun&eacute;ration</th>
                        <th scope="col">Date d'ouverture</th>
                        <th scope="col">Cartes</th>
                        <th scope="col">Historique</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="clientDetails.compteCourant">
                        <th scope="row">Compte courant</th>
                        <td>{{clientDetails.compteCourant.numCompte}}</td>
                        <td>{{clientDetails.compteCourant.solde}} &euro;</td>
                        <td>{{clientDetails.compteCourant.autorisationDecouvert}} &euro;</td>
                        <td>{{clientDetails.compteCourant.dateOuverture}}</td>
                        <td>{{clientDetails.compteCourant.carteBancaire.typePremierOuElectron}}</td>
                        <td><button class="btn btn-outline-dark"
                                routerLink="/historique-operations/{{idCons}}/{{clientDetails.id}}">Historique</button>
                        </td>
                    </tr>
                    <tr *ngIf="clientDetails.compteEpargne">
                        <th scope="row">Compte &eacute;pargne</th>
                        <td>{{clientDetails.compteEpargne.numCompte}}</td>
                        <td>{{clientDetails.compteEpargne.solde}} &euro;</td>
                        <td>{{clientDetails.compteEpargne.tauxRemuneration}} %</td>
                        <td>{{clientDetails.compteEpargne.dateOuverture}}</td>
                        <td>/</td>
                        <td><button class="btn btn-outline-dark"
                                routerLink="/historique-operations/{{idCons}}/{{clientDetails.id}}">Historique</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="col-sm-6 d-flex justify-content-center">
                <button class="btn btn-info float-center mr-5" routerLink="/liste-clients/{{idCons}}"
                    routerLinkActive="router-link-active">Retour</button>
                <button class="btn btn-secondary float-center mr-5"
                    routerLink="/modifier-client/{{idCons}}/{{clientDetails.id}}">Modifier</button>
                <button class="btn btn-danger float-center"
                    (click)="supprimerClient(clientDetails.id)">Supprimer</button>
            </div>
        </div>
    </div>