<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="navbar navbar-expand-sm bg-light navbar-light">
	<ul class="navbar-nav col-xl-4 d-flex justify-content-start">
		<li class="nav-item">
			<a class="nav-link active">Vous &ecirc;tes identifi&eacute; en tant que g&eacute;rant :
				<span style="font-style: italic"> {{gerant.prenom}} {{gerant.nom}} </span></a>
		</li>
	</ul>

	<ul class="navbar-nav col-xl-4 d-flex justify-content-center">
		<li class="nav-item">
			<a class="nav-link" routerLink="/liste-conseillers/{{idGerant}}"><span style="font-weight: bold">Liste
					conseillers</span></a>
		</li>
		<li class="nav-item">
			<a class="nav-link" routerLink="/audit/{{idGerant}}"><span style="font-weight: bold">Audit agence</span></a>
		</li>
	</ul>

	<ul class="navbar-nav col-xl-4 d-flex justify-content-end">
		<li>
			<a class="nav-link" routerLink="/authentification"><span
					style="font-weight:bold; color: red">D&eacute;connexion</span></a>
		</li>
	</ul>
</nav>
<br />
<div class="col-sm-12 d-flex justify-content-center">
	<h4 style="text-align: center">Audit de l'agence ProxiBanque Le Marais</h4>
	<p></p>
</div>

<br />

<div class="col-sm-12 d-flex justify-content-center">
	<button *ngIf="valeurTrueFalse==false" class="btn btn-info mr-5" style="font-weight: bold"
		(click)="realiserAudit()">R&eacute;aliser un audit de l'agence</button>
</div>

<!---->

<!-- <form  [formGroup]="audit" (ngSubmit)="validerAudit()">  (ngSubmit)="validerAudit() -->

<div style="text-align: center" *ngIf="valeurTrueFalse"
	class="card-body container border border-secondary shadow p-3 mb-5 bg-white rounded">


	<div *ngFor="let client of tousClients">

		<div *ngIf="client.compteCourant">


			<div *ngIf="client.nom && !client.raisonSociale && client.compteCourant.solde < -5000"> Le compte
				courant du
				client particulier {{client.prenom}} {{client.nom}} a un solde de <span
					class="red">{{client.compteCourant.solde}} &euro; </span>.

				<div *ngFor="let conseiller of gerant.listeConseillers">
					<!--; let c of conseiller.listeClients">-->

					<div *ngFor="let c of conseiller.listeClients">

						<div *ngIf="c.id == client.id">
							Contacter son conseiller : <a href="mailto: {{conseiller.email}}">
								{{conseiller.email}}</a>
						</div>
					</div>
				</div>
				<br />
			</div>
			<div *ngIf="!client.nom && client.raisonSociale && client.compteCourant.solde < -50000"> Le compte
				courant
				du
				client entreprise {{client.raisonSociale}} a un solde de <span
					class="red">{{client.compteCourant.solde}} &euro; </span>.

				<div *ngFor="let conseiller of gerant.listeConseillers">
					<!--; let c of conseiller.listeClients">-->

					<div *ngFor="let c of conseiller.listeClients">

						<div *ngIf="c.id == client.id">
							Contacter son conseiller : <a href="mailto: {{conseiller.email}}">
								{{conseiller.email}}</a>
						</div>
					</div>
				</div>
				<br>
			</div>
		</div>
	</div>
	<br />
	<div class="col-sm-12 d-flex justify-content-center">
		<button style="text-align: center" class="btn btn-info float-center mr-5"
			routerLink="/liste-conseillers/{{idGerant}}" routerLinkActive="router-link-active"><span
				class="fa fa-arrow-left mr-2"></span>Retour</button>
	</div>
</div>