<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar-nav col-xl-4 d-flex justify-content-start">
        <li class="nav-item">
            <a class="nav-link active">Vous &ecirc;tes identifi&eacute; en tant que g&eacute;rant : {{gerant.prenom}}
                {{gerant.nom}}</a>
        </li>
    </ul>

            <ul class="navbar-nav col-xl-4 d-flex justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/liste-conseillers/{{idGerant}}"><span style="font-weight: bold">Liste conseillers</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/audit/{{idGerant}}"><span style="font-weight: bold">Audit agence</span></a>
                </li>
            </ul>

            <ul class="navbar-nav col-xl-4 d-flex justify-content-end">
                <li>
                    <a class="nav-link" routerLink="/authentification">D&eacute;connexion</a>
                </li>
            </ul>
</nav>
<br />
<table class="table">
    <tr style="text-align: center">
        <th>Pr&eacute;nom NOM</th>
        <th>Adresse</th>
        <th>Coordonn&eacute;es</th>
        <th>Informations</th>

    </tr>
    <tr *ngFor="let cons of gerant.listeConseillers" style="text-align: center">
        <th>{{cons.prenom}} {{cons.nom}}</th>
        <td>{{cons.adresse.numero}} {{cons.adresse.rue}},
            {{cons.adresse.codePostal}}, {{cons.adresse.ville}}</td>
        <td>Email : {{cons.email}} <br /> T&eacute;l&eacute;phone :
            {{cons.telephone}}
        </td>
        <td><button class="btn btn-outline-info mr-1"
                routerLink="/voir-conseiller/{{idGerant}}/{{cons.id}}">Voir</button>
        </td>
    </tr>
</table>