<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar-nav col-xl-4 d-flex justify-content-start">
        <li class="nav-item">
            <a class="nav-link active">Vous &ecirc;tes identifi&eacute; en tant que conseiller : {{conseiller.prenom}}
                {{conseiller.nom}}</a>
        </li>
    </ul>
    <ul class="navbar-nav col-xl-4 d-flex justify-content-center">
        <li class="nav-item">
            <a class="nav-link" routerLink="/liste-clients/{{idCons}}"><span style="font-weight: bold">Liste clients</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/creer-client/{{idCons}}"><span style="font-weight: bold">Cr&eacute;er client</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/effectuer-virement/{{idCons}}"><span style="font-weight: bold">Effectuer virement</span></a>
        </li>
    </ul>

    <ul class="navbar-nav col-xl-4 d-flex justify-content-end">
        <li>
            <a class="nav-link" routerLink="/authentification"><span style="font-weight:bold; color: red">D&eacute;connexion</span></a>
        </li>
    </ul>
</nav>
<br>
<h5>Liste de particuliers</h5>
<br />
<table class="table">
    <tr style="text-align: center">
        <th>Pr&eacute;nom NOM</th>
        <th>Adresse</th>
        <th>Coordonn&eacute;es</th>
        <th>Informations</th>

    </tr>
    <tr *ngFor="let client of conseiller.listeClients" style="text-align: center">
        <th *ngIf="client.nom && !client.raisonSociale">{{client.prenom}} {{client.nom}}</th>
        <td *ngIf="client.nom && !client.raisonSociale">{{client.adresse.numero}} {{client.adresse.rue}},
            {{client.adresse.codePostal}}, {{client.adresse.ville}}</td>
        <td *ngIf="client.nom && !client.raisonSociale">Email : {{client.email}} <br /> T&eacute;l&eacute;phone :
            {{client.telephone}}
        </td>
        <td *ngIf="client.nom && !client.raisonSociale"><button class="btn btn-outline-info mr-1"
                routerLink="/voir-client/{{idCons}}/{{client.id}}">Voir</button>
        </td>
    </tr>
</table>
<br />
<h5>Liste d'entreprises</h5>
<br />
<table class="table">
    <tr style="text-align: center">
        <th>Raison sociale</th>
        <th>Adresse</th>
        <th>Coordonn&eacute;es</th>
        <th>Informations</th>

    </tr>
    <tr *ngFor="let client of conseiller.listeClients" style="text-align: center">
        <th *ngIf="!client.nom && client.raisonSociale">{{client.raisonSociale}}</th>
        <td *ngIf="!client.nom && client.raisonSociale">{{client.adresse.numero}} {{client.adresse.rue}},
            {{client.adresse.codePostal}}, {{client.adresse.ville}}</td>
        <td *ngIf="!client.nom && client.raisonSociale">Email : {{client.email}} <br /> T&eacute;l&eacute;phone :
            {{client.telephone}}
        </td>
        <td *ngIf="!client.nom && client.raisonSociale"><button class="btn btn-outline-info mr-1"
                routerLink="/voir-client/{{idCons}}/{{client.id}}">Voir</button>
        </td>
    </tr>
</table>