<div class="col-md-12 d-flex justify-content-center">
    <div *ngIf="!estAuthentifie" class="alert alert-danger">
        Mauvais identifiant ou mot de passe
    </div>
</div>

<div class="container custom-container">
    <div class="col-md-12 d-flex justify-content-center">
        <form [formGroup]="authentificationForm" (ngSubmit)="onAuthentification()">
            <div class="card" style="width: 18rem; text-align: center;">
                <div class="card-body">
                    <h4 class="card-header">Authentification</h4><br>
                    <div>
                        <div class="card-subtitle mb-2 text-muted">Login : </div><input type="text" id="identifiant"
                            name="identifiant" formControlName="identifiant">
                    </div>
                    <br />
                    <div>
                        <div class="card-subtitle mb-2 text-muted">Mot de passe : </div><input type="password"
                            id="motDePasse" name="motDePasse" formControlName="motDePasse">
                    </div><br>
                    <button class="btn btn-primary" type="submit"
                        [disabled]="!authentificationForm.valid&&!authentificationForm.touched">Authentification</button>
                </div>

            </div>
        </form>
    </div>
</div>
<p></p>