<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- Include the above in your HEAD tag -->

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet"
    id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div class="container placement">
    <div class="row">
        <div class="span5 offset3 well" style="text-align: center">
            <legend>Authentification</legend>
            <div *ngIf="!estAuthentifie" class="alert alert-danger">
                Mauvais identifiant ou mot de passe
            </div>
            <form [formGroup]="authentificationForm" (ngSubmit)="onAuthentification()" accept-charset="UTF-8">
                <p><span class="fa fa-user"></span><input type="text" id="identifiant" class="span4" name="identifiant"
                        formControlName="identifiant" placeholder="Identifiant" required></p>
                <p><span class="fa fa-lock"></span><input type="password" id="motDePasse" class="span4"
                        name="motDePasse" formControlName="motDePasse" placeholder="Mot de passe" required></p>
                <button type="submit" class="btn btn-info"
                    [disabled]="!authentificationForm.valid&&!authentificationForm.touched">Se
                    connecter</button>
            </form>
        </div>
    </div>
</div>