<div class="banniere">
    <a routerLink="/liste-clients"><img width="100" alt="PB Logo"
            src="http://image.noelshack.com/fichiers/2011/48/1322503105-pb.png"></a>
</div>
<div *ngIf="!(router.url === '/authentification')">
    <button class="btn btn-outline-dark float-right" routerLink="/authentification">D&eacute;connexion</button>
    <div class="col-sm-12 d-flex justify-content-center">
        <button class="btn btn-primary mr-5" routerLink="/liste-clients">Liste de clients</button>
        <button class="btn btn-success mr-5" routerLink="/creer-client/1">Cr&eacute;er un client</button>
        <button class="btn btn-warning" routerLink="/effectuer-virement">Effectuer un virement</button>
    </div>
</div>
<p></p>
<router-outlet></router-outlet>